/*Page entière */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #2196f3;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* interface méteo */
#meteo {
    background: rgba(255, 255, 255, 0.15);
    padding: 30px 40px;
    border-radius: 40px;
    backdrop-filter: blur(8px);
    width: 350px;
}


#date-heure {
    display: flex;
    justify-content: space-between; /* Sépare gauche/droite */
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}


#temperature {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px;
}


#icone-meteo {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 15px;
}

#conditions {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}


#ville {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}



#vent, #humidite {
    font-size: 20px;
    margin: 5px 0;
}


#infos-meteo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px 0;
    margin-top: 15px;
}

.info {
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.separateur {
    width: 1px;
    background-color: white;
    height: 24px;
}

.icone-info {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
